{% extends "base_generic.html" %}

{% block content %}
<div>
    <form method="POST">
        {% csrf_token %}
        <table>
            <tr>
                <td>Специальность: </td>
                <td>{{ form.specialty }}</td>
              </tr>
              <tr>
                <td>Выезд к клиенту: </td>
                <td>{{ form.departure_to_client }}</td>
              </tr>
              <tr>
                <td>О себе: </td>
                <td>{{ form.about }}</td>
              </tr>
        </table>
        <input type="submit" value="Обновить" />
    </form>
</div>
{{form.errors}}
{% endblock %}