{% load static %}

<style>
    .hello-msg{
      font-size: 18px;
      color: #fff;
      margin-right: 20px;
    }
  </style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <li><a class="hello-msg" href="{% url 'index' %}">Specialist Service</a></li>
    <div class="collapse navbar-collapse" id="navbarNav">
    </div>
    {% if user.is_authenticated %}
        <span class="hello-msg">Пользователь: {{request.user.username}}</span>
        <span ><a href="{% url 'logout'%}?next={{request.path}}" class="hello-msg">Выйти</a></span>
    {% else %}
        <span><a href="{% url 'login'%}?next={{request.path}}" class="hello-msg">Войти</a>></span>
    {% endif %}
</nav>